{{ define "main" }}
  {{ partial "page-header" . }}

  <!-- Suggested questions -->
  {{ with .Params.suggested_questions }}
    <section class="section-sm pt-[10px] pb-0">
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-8">
            <h2 class="h3 mb-6 text-center">Suggested Questions</h2>
            <ul>
              {{ range . }}
                <li class="relative mb-4 pl-6">
                  <i class="fa fa-circle-question absolute left-0 top-1.5"></i>
                  {{ . | markdownify }}
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Suggested questions -->

  <!-- Panelists -->
  <section class="section pt-[10px] pb-0">
    <div class="container">
      <h2 class="h3 mb-12 text-center">Panelists</h2>
      <div class="row">
        {{ range .RegularPages }}
          <div class="md:col-6 lg:col-4 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /Panelists -->
{{ end }}
